@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}
.my-overwrite {
  @apply border border-gray-300 rounded text-center;
}
.my-overwrite span {
  @apply text-red-600;
}
